# https://github.com/github/gitignore/blob/master/Go.gitignore
deploy/Deploy/*
deploy/Server/server/*
deploy/Server/wallet/*
!deploy/Deploy/.gitkeep
!deploy/Server/server/.gitkeep
!deploy/Server/wallet/.gitkeep
